@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?okwews');
  src:  url('fonts/icomoon.eot?okwews#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?okwews') format('truetype'),
    url('fonts/icomoon.woff?okwews') format('woff'),
    url('fonts/icomoon.svg?okwews#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rock-n-roll:before {
  content: "\e900";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-display:before {
  content: "\e956";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-scissors:before {
  content: "\ea5a";
}
